* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bodySignin {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* .header img {
  margin: 1rem 2rem;
} */

.main {
  /* box-sizing: border-box;
  width: 28rem;
  margin: 2rem auto 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  padding: 3rem 4.5rem 2rem;
  border-radius: 3px;

  flex: 1; */
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.main form h1 {
  margin: 0 0 2rem 0;
  color: white;
}

.login {
  background-color: #454545;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 0.9rem 4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 0 1.5rem;
  cursor: default;
  outline: 0;
}

.info {
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-size: 14px;
  margin: 1rem 0 0;
}

.info p {
  margin: 0 0 0 1.5rem;
  color: rgb(112, 112, 112);
}

.info input {
  position: absolute;
  border: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.info a {
  color: rgb(112, 112, 112);
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}

.login-button {
  background-color: #e50914;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 0.9rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1rem 0 8rem;
  cursor: pointer;
  outline: 0;
}

.social {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.social p {
  margin: 0.5rem 0;
  color: rgb(112, 112, 112);
}

.signup {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.signup p {
  margin: 1rem 0;
  color: rgb(112, 112, 112);
}

.signup a {
  margin: 1rem 1.5rem;
  color: #fff;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

.footer-a {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 2rem 5rem 2rem;
}

.footer-a a {
  color: rgb(112, 112, 112);
  text-decoration: none;
  margin: 0 0 0 0.5rem;
}

.footer-a p {
  color: rgb(112, 112, 112);
  text-decoration: none;
}

.footer-a a:hover {
  text-decoration: underline;
}

.footer-b {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer-b a {
  color: rgb(112, 112, 112);
  text-decoration: none;
  margin: 0 5rem 2rem;
}

.footer-b a:hover {
  text-decoration: underline;
}

.footer-c {
  width: 200px;
  margin: 0 5rem 2rem;
  color: #000;
}

.footer-c select {
  background-color: #000;
  color: white;
  padding: 0.7rem;
  width: 100px;
  border: #454545 solid 1px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.footer-c:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}
